		<!-- Nav bar -->
		<nav id="home">
			<div id="navWrapper">
				<div class="sideNav">
					<a href="/"><i class="fas fa-arrow-left"></i></a>
				</div>

				<div class="middleNav navbar-header">
					Climate
				</div>
				<div class="sideNav setButton">
					<a><i class="fas fa-cog"></i></a>
				</div>
			</div>
		</nav>

		<!-- Error box - try again (reload last page in history) or go home -->
		<section id="errorScreen">
		<div id="errorCont" class="centerFlex">
			<p>
				<span id="empBig">Error!</span> <br>
				"Error is the price we pay for progress" <br>
				<a class="btn btn-lg btn-primary btn-block text-uppercase" onclick="history.back();return false;">Go Back</a>
				<a class="btn btn-lg btn-primary btn-block text-uppercase" href="/">Go Home</a>
			</p>
		</div>
		</section>
