	<!-- Nav bar -->
		<nav id="home">
			<div id="navWrapper">
				<div class="sideNav">
					<a href="/users"><i class="fas fa-arrow-left"></i></a>
				</div>
				<div class="middleNav navbar-header">
					Climate
				</div>
				<div class="sideNav setButton">
					<a><i class="fas fa-cog"></i></a>
				</div>
			</div>
		</nav>


		<!-- Join room box - simply enter room name and join -->
		<section id="join">
			<div class="joinCont centerFlex">
				<div id="joinBox">
					<h3>Enter Room ID</h3>
					<hr>
					<div class="form-label-group">
						<input type="text" id="inputRoomName" class="form-control" placeholder="Room Name" required autofocus>
						<label for="inputUserame">Room ID</label>
						<a id="joinButton" class="btn btn-lg btn-primary btn-block text-uppercase">Join</a>
					</div>
				<div>
			</div>
		</section>
